* {
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 100px;
    background-color: blue;
}

.leftColumn {
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
}

.rightColumn {
    width: 200px;
    height: 100px;
    background-color: rgb(201, 11, 11);
}

.footer {
    width: 100px;
    height: 50px;
    background-color: mediumvioletred;
}