* {
    margin: 0;
    padding: 0;
}

nav {
    margin: 25px;
}

ul {
    overflow: auto;
    list-style-type: none;
}

li {
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 2px solid #aaa;
    padding: 0 20px;
}

li:last-child {
    border-right: none;
}

li a {
    text-decoration: none;
    color: blueviolet;
    font: 25px/1 Helvetica, Verdana, sans;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

li a:hover {
    color: blue;
}

li.active a {
    font-weight: bold;
    color: blue;
}